<section class="breadcrumb_area breadcrumb_area_four">
  <img class="p_absolute bl_left" src="assets/img/v.svg" alt="">
  <img class="p_absolute bl_right" src="assets/img/home_one/b_leaf.svg" alt="">
  <img class="p_absolute one wow fadeInRight" src="assets/img/home_one/b_man_two.png" alt="">
  <div class="container">
    <div class="breadcrumb_content_two text-center">
      <h2>Contact</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section class="contact_area sec_pad">
  <div class="container">
    <div class="section_title text-left">
      <h2 class="h_title wow fadeInUp">Need to speak us?</h2>
    </div>
    <div class="get_info_inner">
      <div class="row get_info_item align-items-center justify-content-between">
        <div class="col-lg-4 col-sm-5">
          <div class="media">
            <img src="assets/img/email.png" alt="">
            <div class="media-body">
              <h5 class="h5 bold">Email</h5>
              <p>Monday to Friday</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-7 d-flex align-items-center justify-content-between">
          <div class="time">
            Expected response time: <span>72 hours</span>
          </div>
          <a href="#" class="doc_border_btn doc_border_btn_two">Email Us</a>
        </div>
      </div>
      <div class="row get_info_item align-items-center justify-content-between">
        <div class="col-lg-4 col-sm-5">
          <div class="media">
            <img src="assets/img/twitter.png" alt="">
            <div class="media-body">
              <h5 class="h5 bold">Twitter</h5>
              <p>Monday to Friday</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-7 d-flex align-items-center justify-content-between">
          <div class="time">
            Expected response time: <span>72 hours</span>
          </div>
          <a href="#" class="doc_border_btn doc_border_btn_two">Send Us a Tweet</a>
        </div>
      </div>
      <div class="row get_info_item align-items-center justify-content-between">
        <div class="col-lg-4 col-sm-5">
          <div class="media">
            <img src="assets/img/community.png" alt="">
            <div class="media-body">
              <h5 class="h5 bold">Community</h5>
              <p>Monday to Friday</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-7 d-flex align-items-center justify-content-between">
          <div class="time">
            Expected response time: <span>72 hours</span>
          </div>
          <a href="#" class="doc_border_btn doc_border_btn_two">Ask The Community</a>
        </div>
      </div>
    </div>
    <div class="contact_info">
      <div class="section_title text-left">
        <h2 class="h_title wow fadeInUp">Let’s start the conversation</h2>
        <p>Please email us, we’ll happy to assist you.</p>
      </div>
      <form action="#" class="contact_form">
        <div class="form-group">
          <h6>What type of project you need?</h6>
          <div class="box_info">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checkone">
              <label class="form-check-label" for="Checkone">
                Web Design
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checktwo">
              <label class="form-check-label" for="Checktwo">
                Dashboard
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checkthree">
              <label class="form-check-label" for="Checkthree">
                Mobile App
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checkfour">
              <label class="form-check-label" for="Checkfour">
                Mockup
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checkfive">
              <label class="form-check-label" for="Checkfive">
                Desktop App
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Checksix">
              <label class="form-check-label" for="Checksix">
                Ui kit
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h6>Budget Range</h6>
          <div class="box_info">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="budgetOne" value="option1" checked="">
              <label class="form-check-label" for="budgetOne">
                $1k
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="budgetTwo" value="option2" checked="">
              <label class="form-check-label" for="budgetTwo">
                $2k
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="budgetThree" value="option3" checked="">
              <label class="form-check-label" for="budgetThree">
                $2k to $3k
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="budgetFour" value="option4" checked="">
              <label class="form-check-label" for="budgetFour">
                $4k to 5k
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="budgetFive" value="option5" checked="">
              <label class="form-check-label" for="budgetFive">
                More then $6k
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h6>Deadline</h6>
          <div class="box_info">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="weekOne" value="1" checked="">
              <label class="form-check-label" for="weekOne">
                1 week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="weekTwo" value="2" checked="">
              <label class="form-check-label" for="weekTwo">
                2 week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="weekThree" value="3" checked="">
              <label class="form-check-label" for="weekThree">
                3 week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="weekFour" value="4" checked="">
              <label class="form-check-label" for="weekFour">
                4 week
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="Radios" id="weekFive" value="5" checked="">
              <label class="form-check-label" for="weekFive">
                5 week
              </label>
            </div>
          </div>
        </div>
        <div class="row contact_fill">
          <div class="col-lg-4 form-group">
            <h6>Full Name</h6>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name here">
          </div>
          <div class="col-lg-4 form-group">
            <h6>Email</h6>
            <input type="email" class="form-control" name="email" id="email" placeholder="info@KbDoc.com">
          </div>
          <div class="col-lg-4 form-group">
            <h6>Phone no</h6>
            <input type="tel" class="form-control" name="tel" id="phone" placeholder="+462">
          </div>
          <div class="col-lg-12 form-group">
            <h6>Message</h6>
            <textarea class="form-control message" id="message" placeholder="Enter Your Text ..."></textarea>
          </div>
          <div class="col-lg-12 form-group">
            <button type="submit" class="btn action_btn thm_btn">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
