<section class="breadcrumb_area">
  <img class="p_absolute bl_left" src="assets/img/v.svg" alt="">
  <img class="p_absolute bl_right" src="assets/img/home_one/b_leaf.svg" alt="">
  <img class="p_absolute star" src="assets/img/home_one/banner_bg.png" alt="">
  <img class="p_absolute wave_shap_one" src="assets/img/blog-classic/shap_01.png" alt="">
  <img class="p_absolute wave_shap_two" src="assets/img/blog-classic/shap_02.png" alt="">
  <img class="p_absolute one wow fadeInRight" src="assets/img/home_one/b_man_two.png" alt="">
  <img class="p_absolute two wow fadeInUp" data-wow-delay="0.2s" src="assets/img/home_one/flower.png" alt="">
  <div class="container custom_container">
    <form action="#" class="banner_search_form banner_search_form_two">
      <div class="input-group">
        <input type="search" class="form-control" placeholder='Search ("/" to focus)'>
        <div class="input-group-append">
          <select class="custom-select" id="inlineFormCustomSelect">
            <option selected>All Category</option>
            <option value="1">Doc Archive</option>
            <option value="2">Doc List</option>
            <option value="3">KbDoc</option>
          </select>
        </div>
        <button type="submit"><i class="icon_search"></i></button>
      </div>
    </form>
  </div>
</section>

<section class="page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog with sidebar</li>
          </ol>
        </nav>
      </div>
      <div class="col-sm-5">
        <a href="#" class="date"><i class="icon_clock_alt"></i>Updated on March 03, 2020</a>
      </div>
    </div>
  </div>
</section>
<section class="doc_blog_grid_area sec_pad forum-page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="communities-boxes">
          <div class="kbDoc-com-box">
            <div class="icon-container">
              <img src="assets/img/home_support/rc1.png" alt="communinity-box">
            </div>

            <div class="kbDoc-com-box-content">
              <h3 class="title"><a href="#"> Getting Started</a></h3>
              <p class="total-post">453 Posts</p>
            </div>
            <!-- /.kbDoc-com-box-content -->
          </div>
          <!-- /.kbDoc-com-box -->

          <div class="kbDoc-com-box">
            <div class="icon-container">
              <img src="assets/img/home_support/rc2.png" alt="communinity-box">
            </div>

            <div class="kbDoc-com-box-content">
              <h3 class="title"><a href="#"> Integrations</a></h3>
              <p class="total-post">624 Posts</p>
            </div>
            <!-- /.kbDoc-com-box-content -->
          </div>
          <!-- /.kbDoc-com-box -->

          <div class="kbDoc-com-box">
            <div class="icon-container">
              <img src="assets/img/home_support/rc3.png" alt="communinity-box">
            </div>

            <div class="kbDoc-com-box-content">
              <h3 class="title"><a href="#"> Solar System</a></h3>
              <p class="total-post">120 Posts</p>
            </div>
            <!-- /.kbDoc-com-box-content -->
          </div>
          <!-- /.kbDoc-com-box -->

          <div class="kbDoc-com-box">
            <div class="icon-container">
              <img src="assets/img/home_support/rc4.png" alt="communinity-box">
            </div>

            <div class="kbDoc-com-box-content">
              <h3 class="title"><a href="#"> Cloud Server</a></h3>
              <p class="total-post">235 Posts</p>
            </div>
            <!-- /.kbDoc-com-box-content -->
          </div>
          <!-- /.kbDoc-com-box -->

        </div>
        <!-- /.communities-boxes -->

        <div class="answer-action">
          <div class="action-content">
            <div class="image-wrap">
              <img src="assets/img/home_support/answer.png" alt="answer action">
            </div>

            <div class="content">
              <h2 class="ans-title">Can’t find an answer?</h2>
              <p>
                Make use of a qualified tutor to get the answer
              </p>
            </div>
          </div>
          <!-- /.action-content -->

          <div class="action-button-container">
            <a href="#" class="action_btn btn-ans">Ask a Question</a>
          </div>
          <!-- /.action-button-container -->
        </div>
        <!-- /.answer-action -->

        <div class="post-header">
          <div class="support-info">
            <ul class="support-total-info">
              <li class="open-ticket"><i class="icon_info_alt"></i>576 Open</li>
              <li class="close-ticket"><i class="icon_check"></i><a href="#">2,974 Closed</a></li>
            </ul>
          </div>
          <!-- /.support-info -->

          <div class="support-category-menus">
            <ul class="category-menu">
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAuthor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Author
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuAuthor">
                    <h3 class="title">Filter by author</h3>

                    <form action="#" class="cate-search-form">
                      <input type="text" placeholder="Filter users">
                    </form>

                    <div class="all-users">
                      <a class="dropdown-item" href="#0" data-rel="richard">
                        <img src="assets/img/home_support/fl1.png" alt="user">
                        Richard Tea
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="druid">
                        <img src="assets/img/home_support/fl2.png" alt="user">
                        Druid Wensleydale
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="weir">
                        <img src="assets/img/home_support/fl3.png" alt="user">
                        Weir Doee
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="giles">
                        <img src="assets/img/home_support/fl4.png" alt="user">
                        Giles Posture
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="theodore">
                        <img src="assets/img/home_support/fl5.png" alt="user">
                        Theodore Handle
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="mann">
                        <img src="assets/img/home_support/fl6.png" alt="user">
                        Guy Mann
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="dylan">
                        <img src="assets/img/home_support/fl7.png" alt="user">
                        Dylan Meringue
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="fletch">
                        <img src="assets/img/home_support/fl8.png" alt="user">
                        Fletch Skinner
                      </a>
                    </div>
                  </div>
                </div>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Label
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLabel">
                    <h3 class="title">Filter by label</h3>

                    <form action="#" class="cate-search-form">
                      <input type="text" placeholder="Filter users">
                    </form>

                    <div class="all-users">
                      <a class="dropdown-item" data-rel="kbDoc" href="#0">
                        <span class="color-purple"></span>
                        KbDoc
                      </a>
                      <a class="dropdown-item" data-rel="improvement" href="#0">
                                                        <span class="color-yellow">
                                                        </span>
                        Improvement !
                      </a>
                      <a class="dropdown-item" data-rel="css" href="#0">
                        <span class="color-ass"></span>
                        CSS
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="feature">
                        <span class="color-green"></span>
                        Feature
                      </a>
                      <a class="dropdown-item" data-rel="spider" href="#0">
                        <span class="color-orange"></span>
                        Spider theme
                      </a>
                      <a class="dropdown-item" href="#0" data-rel="open">
                        <span class="color-theme"></span>
                        Open
                      </a>
                      <a class="dropdown-item" data-rel="bug" href="#0">
                        <span class="color-pink"></span>
                        Bug !
                      </a>
                      <a class="dropdown-item" data-rel="doc" href="#0">
                        <span class="color-light-green"></span>
                        Docs
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAssignee" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Assignee
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuAssignee">
                    <h3 class="title">Filter by author</h3>

                    <form action="#" class="cate-search-form">
                      <input type="text" placeholder="Filter users">
                    </form>

                    <div class="all-users">
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl1.png" alt="user">
                        Richard Tea
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl2.png" alt="user">
                        Druid Wensleydale
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl3.png" alt="user">
                        Weir Doee
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl4.png" alt="user">
                        Giles Posture
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl5.png" alt="user">
                        Theodore Handle
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl6.png" alt="user">
                        Guy Mann
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl7.png" alt="user">
                        Dylan Meringue
                      </a>
                      <a class="dropdown-item" href="#">
                        <img src="assets/img/home_support/fl8.png" alt="user">Fletch Skinner
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h3 class="title">Sort by</h3>
                    <div class="short-by">
                      <a class="dropdown-item active-short" href="#0">Newest</a>
                      <a class="dropdown-item" href="#0">Oldest</a>
                      <a class="dropdown-item" href="#0">Most commented</a>
                      <a class="dropdown-item" href="#0">Least commented</a>
                      <a class="dropdown-item" href="#0">Recently updated</a>
                      <a class="dropdown-item" href="#0">Least recently updated</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.support-category-menus -->
        </div>
        <!-- /.post-header -->

        <div class="community-posts-wrapper bb-radius">
          <div class="community-post style-two kbDoc richard bug">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp2.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Workspace/Org Administration</a>
                </h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm1.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 3 days ago</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two improvement kbDoc open druid">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp1.png" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title"><a href="forum-single.html">Course do not display properly</a> </h3>
                <div class="cat-wrap">
                  <a class="badge" href="#">Docbuzz</a>
                </div>
                <span class="com-featured">
                                            <i class="icon_check"></i>
                                        </span>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm2.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 5 days ago</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post style-two -->

          <div class="community-post style-two css feature improvement weir">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp3.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title"><a href="forum-single.html">How to add a different logo image to the NON
                  Sticky header?</a></h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm3.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 4 days ago</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post style-two -->


          <div class="community-post style-two feature kbDoc spider richard">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp4.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">
                    Sticky navbar is shown, but state is inactive
                  </a>
                </h3>
                <div class="cat-wrap">
                  <a class="badge color-yellow" href="#">Improvement !</a>
                  <a class="badge color-ass" href="#">CSS</a>
                </div>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm4.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 4 days ago</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post style-two -->


          <div class="community-post style-two spider open weir">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp5.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">
                    Performance issue uikit v3 and C3js
                  </a>
                </h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm5.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 5 days ago</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post style-two -->


          <div class="community-post style-two bug feature doc open druid dylan">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp6.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Course do not display properly</a>
                </h3>
                <div class="cat-wrap">
                  <a class="badge color-green" href="#">Feature</a>
                </div>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm6.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two spider doc open giles fletch">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp10.png" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Apps/Integrations/APIs</a>
                </h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm7.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
                <span class="com-featured">
                                            <i class="icon_check"></i>
                                        </span>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two kbDoc bug open dylan">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp7.png" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Course do not display properly</a>
                </h3>
                <div class="cat-wrap">
                  <a class="badge color-orange" href="#">Spider theme</a>
                  <a class="badge color-theme" href="#">Open</a>
                </div>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm8.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
              </div>
            </div>

            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two giles mann">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp8.png" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">UK-form-custom / select / multiple </a>
                </h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm9.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
              </div>
            </div>

            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two theodore fletch">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp9.png" alt="community post">
              </div>

              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Change “courses” in URL permalink base</a>
                </h3>
                <div class="cat-wrap">
                  <a class="badge color-pink" href="#">Bug!</a>
                </div>

                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm10.png" alt="cmm">
                    <a href="#">WordPress Theme</a>
                  </li>
                  <li><i class="icon_calendar"></i>updated 6 days ago</li>
                </ul>
              </div>
            </div>

            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two mann">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp2.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Disable animations for ui testing</a>
                </h3>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm2.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

          <div class="community-post style-two theodore">
            <div class="post-content">
              <div class="author-avatar">
                <img src="assets/img/home_support/cp6.jpg" alt="community post">
              </div>
              <div class="entry-content">
                <h3 class="post-title">
                  <a href="forum-single.html">Lightbox zoom on mobile device</a>
                </h3>
                <div class="cat-wrap">
                  <a class="badge color-green" href="#">Feature</a>
                </div>
                <ul class="meta">
                  <li><img src="assets/img/home_support/cmm11.png" alt="cmm"><a href="#">WordPress
                    Theme</a></li>
                  <li><i class="icon_calendar"></i>updated 6 days agoe</li>
                </ul>
              </div>
            </div>
            <div class="post-meta-wrapper">
              <ul class="post-meta-info">
                <li><a href="#"><i class="icon_chat_alt"></i>20</a></li>
                <li><a href="#"><i class="icon_star"></i>5</a></li>
              </ul>
            </div>
          </div>
          <!-- /.community-post -->

        </div>
        <!-- /.community-posts-wrapper -->

        <div class="pagination-wrapper">
          <div class="view-post-of">
            <p>Viewing 8 topics - 1 through 10 (of 342 total)</p>
          </div>
          <ul class="post-pagination">
            <li class="prev-post pegi-disable"><a href="#"><i class="arrow_carrot-left"></i></a>
            </li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">15</a></li>
            <li class="next-post"><a href="#"><i class="arrow_carrot-right"></i></a></li>
          </ul>
        </div>
        <!-- /.pagination-wrapper -->

      </div>
      <!-- /.col-lg-8 -->

      <div class="col-lg-4">
        <div class="forum_sidebar">
          <div class="widget status_widget">
            <h4 class="c_head">Information</h4>
            <p class="status">Support is <span class="offline">Offline</span></p>

            <div class="open-hours">
              <h4 class="title-sm">Our office hours</h4>
              <p>Monday - Friday / 10am - 6pm (UTC +4) NewYork</p>
              <ul class="current-time list-unstyled">
                <li>
                  <h4 class="title-sm">Your time</h4>
                  <p>10:30:15 PM</p>
                </li>
                <li>
                  <h4 class="title-sm">Your time</h4>
                  <p>10:30:15 PM</p>
                </li>
              </ul>
            </div>
            <!-- /.open-hours -->

          </div>

          <div class="widget usefull_links_widget">
            <h4 class="c_head">Usefull Links</h4>
            <ul class="list-unstyled usefull-links">
              <li><i class="icon_lightbulb_alt"></i><a href="#">FAQs</a></li>
              <li><i class="icon_clock_alt"></i><a href="#">Popular</a></li>
              <li><i class="icon_piechart"></i><a href="#">Recent</a></li>
              <li><i class="icon_info_alt"></i><a href="#">Unanswered</a></li>
            </ul>
          </div>
          <div class="widget ticket_widget">
            <h4 class="c_head">Ticket Categories</h4>

            <ul class="list-unstyled ticket_categories">
              <li><img src="assets/img/home_support/cmm5.png" alt="category"><a href="#">Docs WordPress
                Theme</a> <span class="count">10</span></li>
              <li><img src="assets/img/home_support/cmm4.png" alt="category"><a href="#">Product Landing
                Page</a><span class="count count-fill">13</span><span
                class="count">54</span></li>
              <li><img src="assets/img/home_support/cmm2.png" alt="category"><a href="#">Knowledge base
                Template</a><span class="count">142</span></li>
              <li><img src="assets/img/home_support/cmm8.png" alt="category"><a href="#">Startup and App
                WP Theme</a> <span class="count">13</span></li>
              <li><img src="assets/img/home_support/cmm9.png" alt="category"><a href="#">Clean Email
                Template</a> <span class="count">123</span></li>
              <li><img src="assets/img/home_support/cmm10.png" alt="category"><a href="#">Apps WordPress
                Theme</a> <span class="count">18</span></li>
            </ul>
          </div>

          <div class="widget tag_widget">
            <h4 class="c_head">Tags</h4>
            <ul class="list-unstyled w_tag_list style-light">
              <li><a href="#">Swagger</a></li>
              <li><a href="#">KbDoc</a></li>
              <li><a href="#">weCare</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Download</a></li>
              <li><a href="#">Doc</a></li>
              <li><a href="#">Product board</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">ui/ux</a></li>
              <li><a href="#">Doc Design</a></li>
              <li><a href="#">DocAll</a></li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
</section>

<div class="call-to-action">
  <div class="overlay-bg"></div>
  <div class="container">
    <div class="action-content-wrapper">
      <div class="action-title-wrap title-img">
        <img src="assets/img/home_support/chat-smile.png" alt="">
        <h2 class="action-title">New to Communities?</h2>
      </div>
      <a href="#" class="action_btn">Join the community <i class="arrow_right"></i></a>
    </div>
    <!-- /.action-content-wrapper -->
  </div>
  <!-- /.container -->
</div>
