<section class="breadcrumb_area breadcrumb_area_four">
  <img class="p_absolute bl_left" src="assets/img/v.svg" alt="">
  <img class="p_absolute bl_right" src="assets/img/home_one/b_leaf.svg" alt="">
  <img class="p_absolute one wow fadeInRight" src="assets/img/home_one/b_man_two.png" alt="">
  <div class="container">
    <div class="breadcrumb_content_two text-center">
      <h2>Create Blog</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Create Blog</a></li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section class="contact_area sec_pad">
  <div class="container">
    <div class="section_title text-left">
      <h2 class="h_title wow fadeInUp">Create your blog</h2>
    </div>
    <div class="contact_info">
      <form action="#" class="contact_form" method="post">
        <div class="row contact_fill">
          <div class="col-lg-4 form-group">
            <textarea name="textarea" id="default"></textarea>
          </div>"
          <div class="col-lg-12 form-group">
            <button type="submit" class="btn action_btn thm_btn">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>

